@CHARSET "EUC-KR";

@FONT-FACE {
	font-family: SeoulNamsanFont;
	src: url("TTF/SeoulNamsanL.ttf");
}

@FONT-FACE {
	font-family: SeoulNamsanFont;
	src: url("TTF/SeoulNamsanEB.ttf");
	font-weight: bold;
}

* {
	margin: 0px;
	padding: 0px;
	
}

body {
	line-height: 150%;
	font-family: SeoulNamsanFont;
}

a:LINK, a:VISITED {
	color: inherit;
	text-decoration: none;
}

a:HOVER, a:ACTIVE {
	text-decoration: underline;
}

h1 {
	font-size: 25px;
	color: #FFF
}

h2 {
	font-size: 19px;
	color:#333;
	margin-top: 5px;
	margin-bottom: 5px;
}

p {
	   margin-bottom: 10px;
}

header, footer {
	   display: block;	
}

